#include <dt-bindings/zmk/ext_power.h>

/ {
    ext-power {
        compatible = "zmk,ext-power-generic";
        control-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        init-delay-ms = <100>;
        init;
    };
    behaviors {
        ep_on: ep_on {
            compatible = "zmk,behavior-ext-power";
            #binding-cells = <0>;
            type = <EP_ON>;
        };
    };
};
